.header {
    width: 100%;
    background-color: var(--blue);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    color:  var(--white);
    font-weight: var(--bold-weight);
    margin: 0;
    padding: 2rem;
    font-size: var(--bigger-font);
    font-style: italic;
    transition: all 300ms ease-in-out;
}

.header__title:hover {
    color: var(--gray);
    transform: scale(1.04);
}