.table--container {
    background-color: #FFF;
    padding: 3rem;
    border-radius: 0.4rem;
    margin: 3rem auto;
}

.title {
    text-align: left;
    font-size: var(--big-font);
    font-weight: var(--bold-weight);
    margin: 0rem 0 1rem 0;
}

table{
    border-collapse: collapse;
    border: .1rem solid var(--gray);
    text-align: center;
    font-size: var(--regular-font);
    font-weight: var(--regular-weight);
}

th, td {
    border: .1rem solid var(--gray);
    padding: 1rem;
}

th {
    font-weight: var(--bold-weight);
    font-size: var(--regular-font);
    width: 20%;
}

th:nth-child(1), th:nth-child(4) {
    width: 10%;
}
input {
    border: none;
}
