<section class="container table--container box-shadow">
    <h2>Stocktaking</h2>
    <app-table-form></app-table-form>
    <h3 class="title">{{title}}</h3>
    <table>
        <!-- Header row -->
        <tr>
            <th *ngFor="let column of column_names">{{column}}</th>
        </tr>
        <!-- this fills the table with rows -->
        <tr *ngFor="let row of getRows()">

            <!-- fills each row with its information and buttons -->
            <!-- ngModule is used to save the data changed in the interface -->
            <td>{{row.id}}</td>
            <td><input type="" value="{{row.kind}}" [(ngModel)]="row.kind"></td>
            <td><input type="" value="{{row.name}}" [(ngModel)]="row.name"></td>
            <td><input type="" value="{{row.stock}}" [(ngModel)]="row.stock"></td>
            <td>
                <button>Edit</button>
                <button (click)="deleteRow(row.id)">Delete</button>
            </td>
            <td>
                <button (click)="decreaseStock(row.id)">-</button>
                <button (click)="increaseStock(row.id)">+</button>
            </td>
        </tr>
    </table>
</section>