.nav {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.nav__a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--regular-font);
    font-weight: var(--bold-weight);
    transition: all 300ms ease-in-out;
}

.nav__a:hover {
    color: var(--gray);
    transform: scale(1.1);
}