<h3 class="form--title">Add new products</h3>
<h4 class="form--subtitle">Fill this form to add data into the table</h4>
<form action="" class="table_form" [formGroup]="form" >
    
    <div class="table_form__field_container">
        <label for="id">Product ID</label>
        <input type="text" formControlName="id">
        <span class="table_form--warning" *ngIf="form.controls['id'].invalid && form.controls['id'].touched">
            Product ID field is required
        </span>
    </div>

    <div class="table_form__field_container">
        <label for="kind">Product kind</label>
        <select name="kind" id="select_kind" formControlName="kind">
            <option *ngFor="let kind of product_kinds" value="{{kind}}">{{kind}}</option>
        </select>
        <span class="table_form--warning" *ngIf="form.controls['kind'].invalid && form.controls['kind'].touched">
            Product Kind field is required
        </span>
    </div>

    <div class="table_form__field_container">
        <label for="name">Product Name</label>
        <input type="text" name="name" formControlName="name">
        <span class="table_form--warning" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
            Product Name field is required
        </span>
    </div>

    <div class="table_form__field_container">
        <label for="stock">Existing stock</label>
        <input type="number" name="stock" formControlName="stock">
        <span class="table_form--warning" *ngIf="form.controls['stock'].invalid && form.controls['stock'].touched">
            Stock field is required
        </span>
    </div>
    
    <p><strong>{{form.value.id}}-{{form.value.kind}}-{{form.value.name}}-{{form.value.stock}}</strong></p>
    <p><strong>Form Status: {{form.status}} - ID Status {{form.controls['id'].status}}</strong></p>

    <button class="table_form--clear" (click)="formReset()">Clear all fields</button>
    
    <input type="submit" value="send" [disabled]="!form.valid" (click)="onSubmit()">
</form>