.page404 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20rem 0;
}

.container404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    gap: 1rem;
}

.page404__title {
    font-size: 6rem;
}

.page404__p {
    font-size: var(--regular-font);
    margin: 0;
}