<section class="home">
    <div class="container home--container">
        <div class="home__stocktaking box-shadow blue-v-gradient pointer" [routerLink]="['/stocktaking']">Stocktaking</div>
        <div class="home__stocktaking box-shadow blue-v-gradient pointer" [routerLink]="['']">Historic</div>
        <div class="home__stocktaking box-shadow blue-v-gradient pointer" [routerLink]="['']">Statistics</div>
        <div class="home__stocktaking box-shadow blue-v-gradient pointer" [routerLink]="['']">Settings</div>
    </div>
</section>